<section class="book-view container">
    
        <ul id="book-list">


            <li class="book-item" book-id="<%= book.id %>">
              <h1>Title:<%= book.title %></h1>
              <p>Author:<%= book.author %></p>
              <p>description:<%= book.description %></p>
              <p>ISBN:<%= book.ISBN %></P>
                <p>Bookshelf:<%= book.bookshelf %></p>
                <p>img src ="<%=book.image_url%>"> </p>
            </li>

          </ul>
          
          <a href="/books/edit/<%= book.id%>">update details</a>
</section>
